<table >
    <tr valign="top">
        <a href="{{ url_for('user',username=post.author.username,posts=post) }}">
        {% if post.author.user_photo %}
            <td><img src="{{ post.author.user_photo }}" width="36px"></td>
        {% else %}
            <td><img src="{{ post.author.defaultBaseAvatar() }}"></td>
        {% endif %}
        </a>
        
        <td>
            <a href="{{ url_for('user',username=post.author.username,posts=post) }}">{{ post.author.username }}</a>
            <br>
            {{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}
            <br>
            {{ post.body }}<br>
            {% if post.post_photo_url %}
                <img src="{{ post.post_photo_url }}" alt="" width="150px"><br>
            {% endif %}
        </td>
    </tr>
</table><br><br>