{% extends "edit_profile.html" %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}
{% block content %}
    <table>
    {% if current_user.user_photo %}
        <td><img src=" {{ user.user_photo }} " width="256px"></td>
    {% else %}
        <td><img src=" {{ user.avatar(128) }} "></td>
    {% endif %}
    </table>
    <form action="" method="POST" novalidate enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {{ render_field(form.icon) }}
        {{ render_field(form.submit) }}
    </form>
    
    <div class="container" style="font-family: 'Courier New', Courier, monospace">
        <div class="row">
            <div class="col-sm-4">
                <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-secondary">
                        {{ render_nav_item('edit_profile', '取消', use_li=True) }}
                    </button>
                    
                </li>   
                </ul>
            </div>  
        </div>
    </div>
    <br>
    
{% endblock %}